In [11]:
import pandas as pd

In [12]:
# Load the data
data = pd.read_csv('../data/raw/raw_recipes.csv')

In [13]:
#Suppression des colonnes inutiles
data = data.drop(columns=['contributor_id', 'submitted', 'tags', 'n_steps', 'steps', 'description', 'ingredients', 'n_ingredients', 'minutes'])

In [14]:
# Séparer les valeurs de la colonne 'nutrition' en plusieurs colonnes
nutrition_columns = ['calories','total fat (PDV)','sugar (PDV)','sodium (PDV)','protein (PDV)','saturated fat (PDV)','carbohydrates (PDV)']
nutrition_data = data['nutrition'].str.strip('[]').str.split(',', expand=True)
nutrition_data.columns = nutrition_columns

# Ajouter les nouvelles colonnes au DataFrame original
data = pd.concat([data, nutrition_data], axis=1)

# Supprimer la colonne 'nutrition' originale
data = data.drop(columns=['nutrition'])

In [15]:
# Supprimer les lignes avec qui sont en double
data = data.drop_duplicates()

In [17]:
# Supprimer les lignes avec des valeurs manquantes
data = data.dropna()

In [19]:
# Affichage des 10 premières lignes
data.head(10)

,name,id,calories,total fat (PDV),sugar (PDV),sodium (PDV),protein (PDV),saturated fat (PDV),carbohydrates (PDV)
0,arriba baked winter squash mexican style,137739,51.5,0.0,13.0,0.0,2.0,0.0,4.0
1,a bit different breakfast pizza,31490,173.4,18.0,0.0,17.0,22.0,35.0,1.0
2,all in the kitchen chili,112140,269.8,22.0,32.0,48.0,39.0,27.0,5.0
3,alouette potatoes,59389,368.1,17.0,10.0,2.0,14.0,8.0,20.0
4,amish tomato ketchup for canning,44061,352.9,1.0,337.0,23.0,3.0,0.0,28.0
5,apple a day milk shake,5289,160.2,10.0,55.0,3.0,9.0,20.0,7.0
6,aww marinated olives,25274,380.7,53.0,7.0,24.0,6.0,24.0,6.0
7,backyard style barbecued ribs,67888,1109.5,83.0,378.0,275.0,96.0,86.0,36.0
8,bananas 4 ice cream pie,70971,4270.8,254.0,1306.0,111.0,127.0,431.0,220.0
9,beat this banana bread,75452,2669.3,160.0,976.0,107.0,62.0,310.0,138.0

In [18]:
print(len(data))

231636